{% extends 'Layout.html' %}

{% block title %}
Register - GroovyGrid
{% endblock %}
{% block content %}
<h1> Register as a Creator on GroovyGrid </h1>
<h4> Make and upload music and albums, edit your songs and much more as a Creator on GroovyGrid! </h4> 
<form method ="POST">
    <label for="username" class="form-label"> Name:
        <input type="text" name="username" id="username" class="form-control" required/>
    </label>
    <label for="password" class="form-label"> Password:
        <input type="password" name="password" id="password" class="form-control" required/>
    </label>
    <input type="submit" value="Register as Creator" class="btn btn-primary">
</form>
{% endblock %}

{% block style %}
<style>
    form {
        display: block;
        text-align: center;
    }
    h1 {
        margin-top: 70px;
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    body {
        background-image: url('static/2.jpg'); 
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock %}